.section1 {
    background-color: #1f2937;
    color: white;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

 .section1 h1 {
    font-size: 48px;
}

.section1 h2 {
    font-size: 24px;
    border: 2px solid red;
    margin: 0%;
}

.section1 p,
.section1 ul{
    font-size: 18px #e5e7eb;
}

button {
    background-color: lightseagreen;
    color: white;
}

.header {
    display: flex;
    justify-content:space-between;
    padding: 8px;
    border: 2px solid red;
}

.section1 ul {
    display: flex;
    gap: 20px;
    border: 2px solid red;
    list-style: none;
    margin-right: 120px;
}

a {
    color: white;
    text-decoration: none;
}


